<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.calvintd.klinikkita">

    <application
        android:allowBackup="true"
        android:icon="@drawable/klinik"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.klinik.pemeriksaan.DiagnosisPemeriksaanActivity"></activity>
        <activity android:name=".activity.pasien.pemeriksaan.RiwayatPemeriksaanPasienActivity" />
        <activity android:name=".activity.pasien.pemeriksaan.CekPendaftaranActivity" />
        <activity android:name=".activity.pasien.pemeriksaan.MenuPemeriksaanPasienActivity" />
        <activity android:name=".activity.pasien.daftar.EntriKeluhanActivity" />
        <activity android:name=".activity.pasien.daftar.PencarianDokterActivity" />
        <activity android:name=".activity.pasien.daftar.PencarianKlinikActivity" />
        <activity android:name=".activity.klinik.pemeriksaan.RiwayatPemeriksaanKlinikActivity" />
        <activity android:name=".activity.klinik.pemeriksaan.KelolaPemeriksaanActivity" />
        <activity android:name=".activity.klinik.pemeriksaan.CekPendaftaranKlinikActivity" />
        <activity android:name=".activity.klinik.pemeriksaan.MenuPemeriksaanKlinikActivity" />
        <activity android:name=".activity.klinik.dokter.UbahDokterActivity" />
        <activity android:name=".activity.klinik.dokter.TambahDokterActivity" />
        <activity android:name=".activity.klinik.dokter.KelolaDokterActivity" />
        <activity android:name=".activity.klinik.BerandaKlinikActivity" />
        <activity android:name=".activity.pasien.BerandaPasienActivity" />
        <activity android:name=".activity.pendaftaran.PendaftaranKlinikActivity" />
        <activity android:name=".activity.pendaftaran.PendaftaranPasienActivity" />
        <activity android:name=".activity.login.LoginKlinikActivity" />
        <activity android:name=".activity.login.LoginPasienActivity" />
        <activity android:name=".activity.login.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>